*
{
    padding: 0;
    margin: 0;
    user-select: none;
}

:root
{
     --background: #011a25;
  --front-primary: #012536;
--front-secondary: #ffb703;
}

body
{
    width: 100%;
    overflow: hidden;
    background-color: var(--background);
    transition: 300ms;
}

#login-box
{
    top: 50%;
    left: 50%;
    width: 500px;
    height: 800px;
    position: absolute;

    background-color: var(--front-primary);
    transform: translate(-50%, -50%);
    
    border: 2px solid var(--front-secondary);
    border-radius: 10px;
    
    transition: 300ms;
}

#pic
{
    top: 20%;
    left: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    font-size: 200px;
    color: var(--front-secondary);
    transform: translate(-50%, -50%);
}

.input
{
    top: 25%;
    left: 50%;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    
    position: relative;
    transform: translate(-50%, -50%);
    
    color: var(--front-secondary);
    
    align-items: left;
    gap: 10px;
    letter-spacing: 1px;

    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-data
{
    width: 220px;
    background-color: var(--front-primary);
    border: none;
    outline: none;
    height: 20px;
    padding: 8px 0px;
    color: var(--front-secondary);
    border-bottom: 2px solid var(--front-secondary);
    transition: 200ms;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.input-data::placeholder
{
    letter-spacing: 1px;
    color: var(--front-secondary);
}

.submit
{
    top: 25%;
    left: 50%;
    width: 60%;
    position: relative;
    transform: translate(-50%, 0%);
    
    background-color: var(--front-primary);
    color: var(--front-secondary);
    
    padding: 8px 0;
    font-size: 1.1em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border: 2px solid var(--front-secondary);
    border-radius: 3px;

    transition: 300ms;
}

#login:hover
{
    box-shadow: 0 0 10px 1px var(--front-secondary);
}

#main-page
{
    top: 50%;
    left: 135%;
    width: min(62vw, 600px);
    height: 80vh;
    position: absolute;

    background-color: var(--front-primary);
    transform: translate(-50%, -50%);
    
    border: 2px solid var(--front-secondary);
    border-radius: 10px;
    
    transition: 300ms;
}

#pic2
{
    top: 20%;
    left: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    font-size: 200px;
    color: var(--front-secondary);
    transform: translate(-50%, -50%);
}

#main-button-window
{
    top: 45%;
    left: 50%;
    width: 80%;
    height: 45%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    gap: 10px;
}

.main-buttons
{
    position: relative;
    background-color: #a0a0a000;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid var(--front-secondary);
    border-radius: 10px;
    transition: 300ms;
}

.main-buttons h3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--front-secondary);
    letter-spacing: 2px;
    word-spacing: 5px;
    font-weight: 500;
}

.main-buttons p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--front-secondary);
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 400;
}

.main-buttons i
{
    color: var(--front-secondary);
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.main-buttons:hover
{
    background-color: var(--front-secondary);
}

.main-buttons:hover h3 {color: var(--front-primary);}

.main-buttons:hover p {color: var(--front-primary);}

.main-buttons:hover i {color: var(--front-primary);}

#gear
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3em;
    color: var(--front-secondary);
    transition: 300ms;
}

#log-out
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.3em;
    color: var(--front-secondary);
    transition: 300ms;
}

#log-out:hover
{
    left: 15px;
}

#add-record-page
{
    top: -150%;
    left: 50%;
    width: min(62vw, 600px);
    position: absolute;
    padding: 15px 10px 50px 10px;

    background-color: var(--front-primary);
    transform: translate(-50%, -50%);
    
    border: 2px solid var(--front-secondary);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    transition: 300ms;
}

#add-record-page h1
{
    top: 1%;
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    position: relative;
}

#add-record-page-main
{
    width: 80%;
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    gap: 40px;
    font-size: 1.4em;
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.input-add-record
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.dropdown
{
    width: 220px;
    background-color: var(--front-primary);
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    border-bottom: 2px solid var(--front-secondary);
}

#create
{
    top: 0;
    left: 0;
    width: 60%;
    position: relative;
    transform: translate(0%, 0%);
    
    background-color: var(--front-primary);
    color: var(--front-secondary);
    
    padding: 8px 0;
    font-size: 1.1em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border: 2px solid var(--front-secondary);
    border-radius: 3px;

    transition: 300ms;
}

#create:hover
{
    background-color: var(--front-secondary);
    color: var(--front-primary);
}


#show-record-page
{
    top: 150%;
    left: 50%;
    width: min(62vw, 600px);
    position: absolute;
    padding: 15px 10px 50px 10px;

    background-color: var(--front-primary);
    transform: translate(-50%, -50%);
    
    border: 2px solid var(--front-secondary);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    transition: 300ms;
}

.input-show-record
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#show-record-page h1
{
    top: 1%;
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    position: relative;
}

#show-record-page-main
{
    width: 80%;
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    gap: 40px;
    font-size: 1.4em;
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}


#delete-record-page
{
    top: 50%;
    left: 135%;
    width: min(62vw, 600px);
    position: absolute;
    padding: 15px 10px 50px 10px;

    background-color: var(--front-primary);
    transform: translate(-50%, -50%);
    
    border: 2px solid var(--front-secondary);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    transition: 300ms;
}

.input-delete-record
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#delete-record-page h1
{
    top: 1%;
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    position: relative;
}

#delete-record-page-main
{
    width: 80%;
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    gap: 40px;
    font-size: 1.4em;
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#table-content
{
    top: 10%;
    left: 150%;
    height: 75vh;
    position: absolute;
    transform: translate(-50%, 0%);
    transition: 300ms;
}

table
{
    top: 0;
    left: 0;
    position: relative;
    border: 2px solid var(--front-secondary);
    border-radius: 5px;
    width: 80vw;
}

.heading
{
    padding: 10px 10px;
    border: 2px solid var(--front-secondary);
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5em;
}

.cell-data
{
    padding: 10px 10px;
    border: 2px solid var(--front-secondary);
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    font-size: 1.2em;
    text-align: center;
}

#buttons-np
{
    display: flex;
    top: 90%;
    width: 100%;
    gap: 10%;
    position: absolute;
    justify-content: center;
}

#next, #previous, #ok
{
    width: 120px;
    position: relative;
    padding: 10px 0px;
    border: 2px solid var(--front-secondary);
    color: var(--front-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 5px;
    text-align: center;
}

#show-record-page-back
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.3em;
    color: var(--front-secondary);
    transition: 300ms;
}

#show-record-page-back:hover
{
    top: 15px;
}

#add-record-page-back
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.3em;
    color: var(--front-secondary);
    transition: 300ms;
}

#add-record-page-back:hover
{
    top: 15px;
}

#delete-record-page-back
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.3em;
    color: var(--front-secondary);
    transition: 300ms;
}

#delete-record-page-back:hover
{
    left: 15px;
}